*{
	margin: 0;
	padding: 0;
}


body, html, .game, .screen{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.game{
	cursor: none; 
    position: relative;
    background: url(bg-gif.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black
}

.front {
	mix-blend-mode: darken;
	background: black;
	position: absolute;
	z-index: 2;
	/*display: none;*/
}

.screen{
	--X: calc(var(--x, -0.1) *100% - 8.5%);
	--Y: calc(var(--y, -0.2) *100% - 16.5%);
}

.screen.front:after {
    content: '';
    --size:calc(var(--s, 22) *1rem);
    width: var(--size);
    height: var(--size);
    position: absolute;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 20px 11px #9e9e9ee3;
    top: var(--Y);
    left: var(--X);
}

@media only screen and (orientation: portrait){
	.game{
    background: url(bg-2.jpg);
}
	.screen.front:after{
		--s:40;
	}
}